# Dependencias (esta es la línea más importante)
node_modules/

# Archivos de entorno (contienen contraseñas o llaves API)
.env
.env.local

# Logs (registros de errores)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de compilación (si usas TypeScript o frameworks)
dist/
build/
.next/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
